@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

::-webkit-scrollbar {
    /* Customize the scrollbar width */
    background: transparent;
    width: 12px;
}
::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background: #888;
    border-radius: 25px;
}
